header{
    height: 30rem;
    width: 100%;
    border: 0.2rem solid yellow;
    display: flex;
    align-items: center;
}

.logo{
    height: 20rem;
    width: 20rem;
    border: 0.2rem solid red;
    margin-left: 3rem;
}